
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Store</title>
<link href="/css/bootstrap.css" rel="stylesheet" />
                             @*Current Working with Stripe*@
<nav class="navbar navbar-expand-lg bg-secondary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Home/Index">Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/Home/Index">
                        Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Privacy">Privacy</a>
                </li>


            </ul>
            <partial name="_LoginPartial" />

        </div>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>





<script>
    loadCartCount();
    async function loadCartCount() {
        try {
            var response = await fetch(`/Cart/GetTotalItemInCart`);
            console.log(response)
            if (response.status == 200) {
                var result = await response.json();
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
            }
        }
        catch (err) {
            console.log(err);
        }
    }
</script>



@await RenderSectionAsync("Scripts", required: false)

